.profile {
  margin-bottom: 0;
  margin-top: -1em;
}
.profile .seller-horizontal .seller-photo {
  margin: auto;
  display: block;
  float: none;
  background: #f0f0f0;
  height: 150px;
  width: 150px;
  max-width: none;
}
.carousel h2 {
  margin-top: 10px;
}
.carousel p:first-child {
  margin-bottom: 5px;
}
.carousel .profile {
  padding-top: 10px;
}
.carousel .seller-title small {
  display: block;
}
.carousel-indicators {
  left: 50%;
  right: auto;
  top: auto;
  bottom: 15px;
  margin-left: -16px;
}
.carousel-indicators li {
  background-color: #9f9f9f;
}
.carousel-indicators li.active {
  background-color: #363737;
}
.promo-bar {
  margin-bottom: 15px;
  background-color: #f6f6f6;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}
.promo-bar .col-xs-6 {
  padding-left: 7.5px;
  padding-right: 7.5px;
}
.promo-bar .promos-qty {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 41px;
}
.promo-bar .btn {
  margin-top: 12px;
  padding: 7px 9px 7px 7px;
}
.promo-bar .container .row > div:first-child {
  border-right: 1px solid #e7e7e7;
}
.promo-bar .h2 {
  font-weight: 400;
  color: #909090;
}
.thumbnail {
  margin-bottom: 7px;
  padding: 5px;
  border-radius: 0;
}
.thumbnail .caption {
  padding: 0;
  color: #707070;
}
.thumbnail h4 {
  margin: 10px 0 5px;
  font-weight: 500;
  color: #a9a9a9;
}
.thumbnail p {
  margin-bottom: 10px;
  font-size: 13px !important;
  line-height: 1.3;
}
.thumbnail p.item-description {
  font-size: 12px !important;
}
.thumbnail p.price {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 500;
  color: #363737;
}
.seller-photo {
  height: 100px;
  width: 100px;
}
.seller-title {
  color: #595959;
  font-weight: 500;
}
.seller-location {
  color: #a7a7a7;
  font-weight: 500;
}
.seller-horizontal .seller-header {
  overflow: hidden;
}
.seller-horizontal .seller-title {
  margin-top: .5em;
  margin-bottom: 0;
}
.seller-horizontal .seller-location {
  margin-top: 0;
  margin-bottom: .5em;
}
.seller-horizontal .seller-photo {
  float: left;
  margin-right: 1em;
  background: #F0F0F0;
}
.seller-horizontal .separator {
  margin-left: .75em;
  margin-right: .75em;
}
.seller-horizontal .seller-header-content {
  float: left;
}
.seller-vertical {
  text-align: center;
}
.seller-vertical .seller-title {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: .5em;
  margin-top: 1em;
}
.seller-vertical .seller-photo {
  height: 70px;
  width: 70px;
}
